.dialog-header{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bug-icon{
    color: brown;
}

.close-icon{
    position: absolute;
    z-index: 1;
    right: -10px;
    top: -10px;
    font-size: 30px;
    font-weight: bolder;
    color: gray;
    cursor: pointer;
}

.material-icons{
    margin-left: 5px;
}

.dialog-content{
    min-height: 400px;
    max-height: 600px;
    width: 100%;
    overflow: auto;
}

.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    color: gainsboro;
}