<div class="dialog-content">
  <div class="msg-type">
    <i class="material-icons type-icon warning-icon" *ngIf="isWarning">warning</i>
    <i class="material-icons type-icon error-icon" *ngIf="isError">error</i>
    <i class="material-icons type-icon info-icon" *ngIf="isInfo">info</i>
  </div>
  <div class="msg-content">{{data.msg}}</div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <div>
    <button *ngIf='data.isAllowCancel' mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onOKClick()">OK</button>
  </div>
</div>
