<div *ngIf="!IsReadOnly" class="prevention-item">
  <mat-form-field>
    <mat-label class="input-label"><span>Type:</span></mat-label>
    <mat-select name="Type" [(value)]="selectedTypeID" (selectionChange)="changePreventionItem()" required>
      <mat-option *ngFor="let type of typeList" [value]="type.ID">{{type.Name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="this.preventionItem.MainTypeID">
    <mat-label class="input-label"><span>Sub type:</span></mat-label>
    <mat-select name="SubType" [(value)]="this.preventionItem.SubTypeID" (selectionChange)="changePreventionItem()" required>
      <mat-option *ngFor="let subType of subTypeList" [value]="subType.ID">{{subType.Name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="this.preventionItem.SubTypeID" class="details-item">
    <mat-label class="input-label"><span>Details</span></mat-label>
    <textarea  matInput name="Details" [(ngModel)]="this.preventionItem.Details" (ngModelChange)="changePreventionItem()" required></textarea>
  </mat-form-field>

</div>
<div *ngIf="IsReadOnly" class="prevention-item">
  <div>
    <span class="display-label">Type:&nbsp;</span>
    <p class="inline-item" *ngIf="IsReadOnly">{{selectMainTypeName}}</p>
  </div>
  <div>
    <span  class="display-label">Sub type:&nbsp;</span>
    <p class="inline-item" *ngIf="IsReadOnly">{{selectSubTypeName}}</p>
  </div>
  <div class="details-item">
    <span  class="display-label">Details:&nbsp;</span>
    <div class ="auto-break" *ngIf="IsReadOnly">{{this.preventionItem.Details}}</div>
  </div>
</div>
