<div class="home-page">
  <app-home-header class="header"></app-home-header>

  <div class="notice">
      <div class="notice-left notice-item">
        <img class="notice-img" style="user-select: none;"src="assets/RCA.svg">
      </div>
      <div class="notice-right notice-item">
        <img class="notice-img" style="user-select: none;" src="assets/How.svg">
      </div>
  </div>

  <app-home-filter class="filter content"></app-home-filter>

  <app-home-rank class="home-hot-container content last-ele"></app-home-rank>
</div>
