<div class="header">
  <div class="header-content content">
    <div class="header-item-icon">
      <img  style="user-select: none;" src="assets/rca.PNG">
    </div>
    <div class="header-item-oper">
      <div class="link-item" (click)="onHomeClick()">
        <i class="material-icons">home</i><span>Home</span>
      </div>
      <div class="link-item" (click)="onMyCRsClick()">
        <i class="material-icons">bug_report</i><span>My CRs</span>
      </div>
      <div class="link-item item-add" (click)="onAddCRClick()">
        <i class="material-icons">add</i><span>Create New Anomaly</span>
      </div>
      
    </div>
    <div class="header-item-user">
      <i class="material-icons link-item">help</i>
      <div class="link-item">
        <i class="material-icons">account_circle</i><span>Barret Xiong</span>
      </div>
      
    </div>
  </div>
</div>