<div class="rca-detail">
  <div class="rca-title">Details of {{RCADetail.ID}}</div>

  <div class="rca-info">
    <div class="rca-prop">
      <div class="rca-prop-key">Header</div>
      <div class="rca-prop-value">Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome. Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome.</div>
    </div>

    <div class="rca-prop-container">
      <div class="rca-prop-container-left">
        <div class="rca-prop">
          <div class="rca-prop-key">Header</div>
          <div class="rca-prop-value">Themeable, for </div>
        </div>

        <div class="rca-prop">
          <div class="rca-prop-key">Header</div>
          <div class="rca-prop-value">Themeable, for</div>
        </div>

        <div class="rca-prop">
          <div class="rca-prop-key">Header</div>
          <div class="rca-prop-value">Themeable, for</div>
        </div>
      </div>
      <div class="rca-prop-container-right">
        <div class="rca-prop">
          <div class="rca-prop-key">Header</div>
          <div class="rca-prop-value">Themeable, for </div>
        </div>

        <div class="rca-prop">
          <div class="rca-prop-key">Header</div>
          <div class="rca-prop-value">Themeable, for</div>
        </div>

        <div class="rca-prop">
          <div class="rca-prop-key">Header</div>
          <div class="rca-prop-value">Themeable, for</div>
        </div>
      </div>
    </div>

    <div class="rca-prop">
      <div class="rca-prop-key">Header</div>
      <div class="rca-prop-value">Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome. Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome.</div>
    </div>

    <div class="rca-prop">
      <div class="rca-prop-key">Header</div>
      <div class="rca-prop-value">Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome. Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome.</div>
    </div>

    <div class="rca-prop">
      <div class="rca-prop-key">Header</div>
      <div class="rca-prop-value">Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome. Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome.</div>
    </div>

    <div class="rca-prop">
      <div class="rca-prop-key">Header</div>
      <div class="rca-prop-value">Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome. Themeable, for when you need to stay on brand or just have a favorite color. Accessible and internationalized so that all users are welcome.</div>
    </div>
  </div>
  {{RCADetailTest}}
</div>
