<div class="rca-detail">
  <div class="rca-title">Details of {{RCADetail.RCAID}}<i class="material-icons edit-btn link-item" *ngIf="RCADetail.IsManagable" (click)="updateRCA()">edit</i></div>

  <div class="rca-info">
    <div class="rca-prop">
      <div class="rca-prop-key">Header</div>
      <div class="rca-prop-value">{{RCADetail.Header}}</div>
    </div>

    <div class="rca-prop-container">
      <div class="rca-prop-container-left">
        <div class="rca-prop">
          <div class="rca-prop-key rca-icon">ID<mat-icon class="id-icon">bug_report</mat-icon></div>
          <div class="rca-prop-value">{{RCADetail.RCAID}}</div>
        </div>
        <div class="rca-prop">
          <div class="rca-prop-key rca-icon">Submitter<mat-icon>account_circle</mat-icon></div>
          <div class="rca-prop-value">{{RCADetail.Submitter}}</div>
        </div>
        <div class="rca-prop">
          <div class="rca-prop-key rca-icon">Key word<mat-icon class="keyword-icon">vpn_key</mat-icon></div>
          <div class="rca-prop-value">
            <span class="rca-keyword link-item" *ngFor="let keyWord of RCADetail.KeyWords" (click)="onClickKeyword(keyWord)">&lt;{{keyWord}}&gt;&nbsp;</span></div>
        </div>
        <div class="rca-prop">
          <div class="rca-prop-key rca-icon">Root Cause CR<mat-icon class="RootCauseCR-icon">bug_report</mat-icon></div>
          <div class="rca-prop-value rca-RootCauseCR">{{RCADetail.RootCauseCR}}</div>
        </div>
      </div>
      <div class="rca-prop-container-right">
        <div class="rca-prop">
          <div class="rca-prop-key">ImpactedProduct</div>
          <div class="rca-prop-value">{{RCADetail.ImpactedProduct}}</div>
        </div>
        <div class="rca-prop">
          <div class="rca-prop-key">Fix Version</div>
          <div class="rca-prop-value">{{RCADetail.FixVersion}}</div>
        </div>

        <div class="rca-prop">
          <div class="rca-prop-key rca-icon">Component<mat-icon class="Component-icon">extension</mat-icon></div>
          <div class="rca-prop-value">{{RCADetail.Component}}</div>
        </div>

        <div class="rca-prop">
          <div class="rca-prop-key">Readout Level</div>
          <div class="rca-prop-value">{{RCADetail.ReadoutLevel}}</div>
        </div>
      </div>
    </div>

    <div class="rca-prop">
      <div class="rca-prop-key">Root Cause Analyze</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.RootCauseAnalyze"></quill-view></div>
    </div>

    <div class="rca-prop-group-label">
      <div class="rca-prop-key">RCA Correction and Prevention</div>
    </div>
    <div class="rca-prop-group-label">
      <div class="rca-prop-key requirement-color">Requirement</div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Root Cause</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.RequirementCorrectAndPrevention.RootCause"></quill-view></div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Correction</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.RequirementCorrectAndPrevention.Correction"></quill-view></div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Prevention</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.RequirementCorrectAndPrevention.Prevention"></quill-view></div>
    </div>

    <div class="rca-prop-group-label">
      <div class="rca-prop-key dev-color">Dev/Infor Dev/CM</div>
    </div>
    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Root Cause</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.DevCorrectAndPrevention.RootCause"></quill-view></div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Correction</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.DevCorrectAndPrevention.Correction"></quill-view></div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Prevention</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.DevCorrectAndPrevention.Prevention"></quill-view></div>
    </div>

    <div class="rca-prop-group-label">
      <div class="rca-prop-key test-color">Test</div>
    </div>
    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Root Cause</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.TestCorrectAndPrevention.RootCause"></quill-view></div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Correction</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.TestCorrectAndPrevention.Correction"></quill-view></div>
    </div>

    <div class="rca-prop left-margin">
      <div class="rca-prop-key">Prevention</div>
      <div class="rca-prop-value"><quill-view [content]="RCADetail.TestCorrectAndPrevention.Prevention"></quill-view></div>
    </div>
  </div>
  <div class="rca-prop-group-label">
    <div class="rca-prop-key rca-icon">Attachments<mat-icon  class="Component-icon">attachment</mat-icon></div>
  </div>
  <app-attachment [RCAID]="RCADetail.ID" [IsReadOnly]="true" [refreshEvent]="updateAttachmentSubject.asObservable()"></app-attachment>
  <!-- {{RCADetailTest}} -->
</div>
