
.load-parent {
  position: relative;
  margin: 0;
}

.dialog-header{
  text-align: center;
  font-size: 24px;
}

.dialog-content{
  font-size: 14px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(12,1fr);
  justify-items: start;
}

.one-line-item {
grid-column-start: 1;
grid-column-end: 3;
}

.full-width {
width: 100%;
}

.dialog-actions{
display: grid;
justify-content: end;
}

mat-form-field {
width: 300px;
padding: 0px;
border: 0px;
}

.radio-group {
width: 200px;
display: flex;
margin: 5px 0;
justify-content: space-between;
}


.keyWord-tip {
  color:rgb(0, 119, 255);
  margin: 0 10px 0 0;
  font-size: 10px;
}

.keyWord-tip:hover{
  cursor: pointer;
  color:rgb(63, 185, 226);
}

.mat-hit-keyword {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.input-label {
  color: gray;
}

.requirement-color {
  color: rgb(58,120,95);
}

.dev-color {
  color: rgb(88,147,180);
}

.test-color {
  color: rgb(240,160,40);
}

.label-margin {
  margin: 5px 0 0 0;
}

.expand-div {
  padding: 2px 2px 2px 0px;
  display: flex;
  align-items: center;
}

.expand-panel {
  padding: 0 0 0 15px;
}

.expand-div:hover {
  cursor: pointer;
}

quill-editor {
  width: 100%;
}

.disable-btn{
  cursor: not-allowed;
  color: gainsboro;
}

.attachment-icon {
  display: flex;
  align-items: center;
}

.first-loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  color: gainsboro;
  background-color: white;
  z-index: 1;
}
