

<div class="dialog-header">{{dialogTitle}}</div>
<div class="load-parent">
<mat-dialog-content class="dialog-content">
  <mat-form-field class="one-line-item full-width" >
    <mat-label class="input-label"><span>Header</span></mat-label>
    <textarea  matInput name="Head" [(ngModel)]="rcaData.Header" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="input-label"><span>ID</span><mat-icon>bug_report</mat-icon></mat-label>
    <input matInput name="Id" [(ngModel)]="rcaData.RCAID" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label  class="input-label"><span>RootCauseCR </span><mat-icon>bug_report</mat-icon></mat-label>
    <input matInput name="RootCauseCR" [(ngModel)]="rcaData.RootCauseCR">
  </mat-form-field >

  <mat-form-field class="one-line-item">
    <mat-label class="input-label"><span >Submitter</span></mat-label>
    <input matInput name="Submitter" [(ngModel)]="rcaData.Submitter" [disabled]="true" required>
  </mat-form-field>

  <mat-form-field class="one-line-item">
    <mat-label class="input-label"><span>Impacted Product</span></mat-label>
    <mat-select name="ImpactedProduct" [(value)]="selectedProductID" required>
      <mat-option *ngFor="let impactedProduct of impactedProducts" [value]="impactedProduct.ID">{{impactedProduct.ProductName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="one-line-item">
    <mat-label class="input-label"><span>Fix Version</span></mat-label>
    <mat-select name="FixVersion" [disabled]="!isFixVersionListReady" [(value)]="rcaData.FixVersionID" required>
      <mat-option *ngFor="let fixVersion of fixVersionList" [value]="fixVersion.ID">{{fixVersion.Version}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="one-line-item">
    <mat-label  class="input-label"><span>Component </span><mat-icon>extension</mat-icon></mat-label>
    <mat-select name="Component" [disabled]="!isComponentListReady" [(value)]="rcaData.ComponentID" required>
      <mat-option *ngFor="let component of componentList" [value]="component.ID">{{component.ComponentName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="one-line-item">
    <mat-label  class="input-label"><span>Readout Level</span></mat-label>
    <mat-select name="ReadoutLevel" [(value)]="rcaData.ReadoutLevelID" required>
      <mat-option *ngFor="let readoutLevel of readoutLevels" [value]="readoutLevel.ID">{{readoutLevel.ReadoutLevel}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="one-line-item full-width">
    <mat-label class="input-label"><span>Root Cause</span><mat-icon>vpn_key</mat-icon></mat-label>
    <mat-chip-list #chipList aria-label="Key Word" required>
      <mat-chip
        *ngFor="let keyWord of rcaData.KeyWords"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(keyWord)">
        {{keyWord}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Input to filter..."
        #keyWordInput
        [formControl]="keyWordCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="endInput($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let keyWord of filteredKeyWords | async" [value]="keyWord">
        {{keyWord}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint class="mat-hit-keyword">
      <span class="keyWord-tip" *ngFor="let keyWordTip of keyWordTips" (click)="OnClickKeyWordTip(keyWordTip)">{{keyWordTip}}</span>
    </mat-hint>
  </mat-form-field>

  <div class="one-line-item full-width" style="margin: 6px 0 0 0;">
    <label class="input-label"><span >Root Cause Analyze*</span></label>
    <quill-editor [(ngModel)]="rcaData.RootCauseAnalyze" [styles]="{height: '100px'}" [required]="true">
    </quill-editor>
  </div>

  <div class="one-line-item full-width">
    <div class="expand-div"
    (click)="isRequirementPanelOpen=!isRequirementPanelOpen">
    <span class="requirement-color">Requirement</span>
    <i class="material-icons" *ngIf="!isRequirementPanelOpen">keyboard_arrow_down</i>
    <i class="material-icons" *ngIf="isRequirementPanelOpen">keyboard_arrow_up</i>
    </div>
    <div class="expand-panel full-width" [hidden]="!isRequirementPanelOpen">
      <label class="requirement-color label-margin">Root Cause</label>
      <quill-editor [(ngModel)]="rcaData.RequirementCorrectAndPrevention.RootCause" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="requirement-color label-margin">Correction</label>
      <quill-editor [(ngModel)]="rcaData.RequirementCorrectAndPrevention.Correction" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="requirement-color label-margin">Prevention<span style="color:red">(Old)</span></label>
      <quill-editor [(ngModel)]="rcaData.RequirementCorrectAndPrevention.Prevention" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="requirement-color label-margin">Prevention</label>
      <app-prevention
      [RCAID]="rcaData.ID"
      preventionType="Requirement"
      [(isLoaded)]='isReqPreventionLoaded'
      (ApplyDone)='ReqPreventionApplyDone()'
      [(isModified)]='isReqPreventionModified'
      [(isDataLegal)] = "isReqPreventionLegal"
      [Apply]='isReqPreventionApply'></app-prevention>
    </div>
  </div>

  <div class="one-line-item full-width">
    <div class="expand-div"
    (click)="isDevPanelOpen=!isDevPanelOpen">
    <span class="dev-color">Dev(Dev/InforDev/CM)</span>
    <i class="material-icons" *ngIf="!isDevPanelOpen">keyboard_arrow_down</i>
    <i class="material-icons" *ngIf="isDevPanelOpen">keyboard_arrow_up</i>
    </div>
    <div class="full-width expand-panel" [hidden]="!isDevPanelOpen">
      <label class="dev-color label-margin">Root Cause</label>
      <quill-editor [(ngModel)]="rcaData.DevCorrectAndPrevention.RootCause" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="dev-color label-margin">Correction</label>
      <quill-editor [(ngModel)]="rcaData.DevCorrectAndPrevention.Correction" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="dev-color label-margin">Prevention<span style="color:red">(Old)</span></label>
      <quill-editor [(ngModel)]="rcaData.DevCorrectAndPrevention.Prevention" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="dev-color label-margin">Prevention</label>
      <app-prevention
      [RCAID]="rcaData.ID"
      preventionType="Dev"
      [(isLoaded)]='isDevPreventionLoaded'
      (ApplyDone)='DevPreventionApplyDone()'
      [(isModified)]='isDevPreventionModified'
      [(isDataLegal)] = "isDevPreventionLegal"
      [Apply]='isDevPreventionApply'></app-prevention>
    </div>
  </div>

  <div class="one-line-item full-width">
    <div class="expand-div"
    (click)="isTestPanelOpen=!isTestPanelOpen">
    <span class="test-color">Test</span>
    <i class="material-icons" *ngIf="!isTestPanelOpen">keyboard_arrow_down</i>
    <i class="material-icons" *ngIf="isTestPanelOpen">keyboard_arrow_up</i>
    </div>
    <div class="full-width expand-panel" [hidden]="!isTestPanelOpen">
      <label class="test-color label-margin">Root Cause</label>
      <quill-editor [(ngModel)]="rcaData.TestCorrectAndPrevention.RootCause" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="test-color label-margin">Correction</label>
      <quill-editor [(ngModel)]="rcaData.TestCorrectAndPrevention.Correction" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="test-color label-margin">Prevention <span  style="color:red">(Old)</span></label>
      <quill-editor [(ngModel)]="rcaData.TestCorrectAndPrevention.Prevention" [styles]="{height: '100px'}">
      </quill-editor>
      <label class="test-color label-margin">Prevention</label>
      <app-prevention
      [RCAID]="rcaData.ID"
      preventionType="Test"
      [(isLoaded)]='isTestPreventionLoaded'
      (ApplyDone)='TestPreventionApplyDone()'
      [(isModified)]='isTestPreventionModified'
      [(isDataLegal)] = "isTestPreventionLegal"
      [Apply]='isTestPreventionApply'></app-prevention>
    </div>
  </div>

  <div class="one-line-item full-width">
    <div class="attachment-icon" >
      <span>Attachment</span><mat-icon>attachment</mat-icon>
    </div>
    <app-attachment
      [RCAID]="data.rcaID"
      [IsReadOnly]="false"
      (Loaded)=AttachmentLoaded()
      [applyEvent]="applyAttachmentChangeSubject.asObservable()"
      (ApplyDone)=AttachmentApplyDone()
      (Modified)=AttachmentModified($event)>
    </app-attachment>
  </div>
  <div class="first-loading" *ngIf="isFirstLoading">
    Loading...
  </div>
  <div class="operating" *ngIf="isCreating">
    Creating...
  </div>
  <div class="operating" *ngIf="isUpdating">
    Updating...
  </div>



</mat-dialog-content>
</div>


<div mat-dialog-actions class="dialog-actions">
  <div>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onCreateClick()" [ngClass]="{'disable-btn': !isAllowCreate}"   *ngIf="isCreateMode" [disabled]="!isAllowCreate" >Create</button>
    <button mat-button (click)="onUpdateClick()" [ngClass]="{'disable-btn': !isAllowUpdate}"  *ngIf="!isCreateMode" [disabled]="!isAllowUpdate">Update</button>
  </div>
</div>

