.dialog-header{
    text-align: center;
    font-size: 24px;
}

.dialog-content{
    height: 400px;
    width: 100%;
    background: rgb(247, 247, 232);
}

.dialog-actions{
    display: grid;
    justify-content: end;
}