.keyword-rank-title{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.hot-keywork-list{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
}

.kewword-more-btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.kewword-more-btn:hover{
    cursor: pointer;
    color: cornflowerblue;
}

.material-icons{
    margin-left: 5px;
}

.key-icon{
    color: orange;
}