.keyword-rank-title{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.hot-keywork-list{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
}

.material-icons{
    margin-left: 5px;
}