<div class="keyword-rank-title">HOT KEYWORD <i class="material-icons">vpn_key</i></div>
<div class="hot-keywork-list">
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
  <app-home-keyword-item></app-home-keyword-item>
</div>