.rca-rank-title{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.home-rca-rank-list{
    min-height: 400px;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: start;
    position: relative;
}

.first-loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    color: gainsboro;
}

.rca-more-btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.rca-more-btn:hover{
    cursor: pointer;
    color: cornflowerblue;
}

.material-icons{
    margin-left: 5px;
}

.bug-icon{
    color: brown;
}