<div class="rca-rank-title">HOT CRs <i class="material-icons">bug_report</i></div>
<div class="home-rca-rank-list">
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
  <app-home-rca-item></app-home-rca-item>
</div>