.filter-condition-page{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* For QuickSerach*/
    justify-content: center;
    align-content: center;
    position: relative;
}

.filter-item{
    margin: 5px;
}

.condition-key{
    font-size: 10px;
    color: gainsboro;
}

.btn-expend{
    height: 45px;
    justify-self: end;
    padding: 5px;
    color:gray;
    background: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-collapse{
    height: 45px;
    justify-self: end;
    padding: 5px;
    color:white;
    background:  gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-search-input{
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    font-size: 24px;
    height: 30px;
}

.quickSearch-placeholder{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-style: italic;
    color: gainsboro;
}

.seach-icon{
    font-size: 30px;
}

.detail-filter{
    min-height: 280px;
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 80px;
    border: 1px solid gray;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    justify-content: center;
    align-content: center;
    grid-column-gap: 30px;
}

.readout-item{
    grid-column: 2/4;
}

.whole-line-item{
    grid-column: 1/5;
}
.keyword-items{
    position: relative;
}

.keyword-tips{
    position: absolute;
    bottom: -50px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.keyword-tip-item{
    cursor: pointer;
    color: rgb(0, 119, 255);
    padding-right: 10px;
    font-size: small;
}

.oper-btn{
    grid-column: 4;
    grid-row: 4;
    justify-self: end;
    align-self: center;
}
