<div class="filter-condition-page">
  <mat-form-field class="filter-item">
    <mat-chip-list #chipList aria-label="Filter Conditions">
      <mat-chip *ngFor="let condition of coditions" [selectable]="selectable" [removable]="removable"
        (removed)="remove(condition)" [color]="condition.color" selected>
        <span class="condition-key" *ngIf="!!condition.key">{{condition.key}}:&nbsp;</span>
        <span class="condition-value">{{condition.value}}</span>
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Filter Conditions..." [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" disabled="true">
    </mat-chip-list>
  </mat-form-field>

  <button mat-button class="filter-item"
    [ngClass]="{'btn-expend': !isDetailFilterPanelOpen, 'btn-collapse': isDetailFilterPanelOpen}"
    (click)="triggerDetailFilterPanel()">
    <i class="material-icons">filter_list</i>
    More...
    <i class="material-icons" *ngIf="!isDetailFilterPanelOpen">keyboard_arrow_down</i>
    <i class="material-icons" *ngIf="isDetailFilterPanelOpen">keyboard_arrow_up</i>
  </button>

  <!-- <mat-form-field class="filter-item quick-search-input">
    <input matInput placeholder="" [(ngModel)]="inputQuickSearch" (keydown.enter)="quickSearch()">
    <div class="quickSearch-placeholder" *ngIf="!inputQuickSearch"><i class="material-icons seach-icon"
        *ngIf="!isDetailFilterPanelOpen">search</i>&nbsp;Quick Search</div>
  </mat-form-field> -->


  <div class="detail-filter" *ngIf="isDetailFilterPanelOpen">
    <div class="id-quickapply filter-item" >
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="inputID">
      </mat-form-field>
      <mat-icon *ngIf="!isInputIDEmpty" class="quick-apply" (click)="onApply()">check_circle</mat-icon>
    </div>

    <mat-form-field class="filter-item">
      <mat-label>IMPACTED PRODUCT</mat-label>
      <mat-select [(value)]="selectedProductID" [disabled]="!isInputIDEmpty">
        <mat-option></mat-option>
        <mat-option *ngFor="let impactedProduct of impactedProducts" [value]="impactedProduct.ID">
          {{impactedProduct.ProductName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-item">
      <mat-label>FIX VERSIONS</mat-label>
      <mat-select [(value)]="selectedVersionID" [disabled]="!isVersionEnable">
        <mat-option></mat-option>
        <mat-option *ngFor="let fixVersion of fixVersionList" [value]="fixVersion.ID">{{fixVersion.Version}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-item">
      <mat-label>COMPONENTS</mat-label>
      <mat-select [(value)]="selectedComponentID" [disabled]="!isComponentEnable">
        <mat-option></mat-option>
        <mat-option *ngFor="let component of componentList" [value]="component.ID">{{component.ComponentName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="filter-item">
      <input matInput placeholder="SUBMITTER" [(ngModel)]="inputSubmitter">
    </mat-form-field> -->

    <mat-form-field class="filter-item">
      <input matInput placeholder="ROOT CAUSE CR" [(ngModel)]="inputRootCauseCR" [disabled]="!isInputIDEmpty">
    </mat-form-field>

    <mat-form-field class="filter-item readout-item">
      <mat-label>READOUT LEVELS</mat-label>
      <mat-select [(value)]="selectedreadoutLevelID" [disabled]="!isInputIDEmpty">
        <mat-option></mat-option>
        <mat-option *ngFor="let readoutLevel of readoutLevelList" [value]="readoutLevel.ID">{{readoutLevel.ReadoutLevel}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-item whole-line-item keyword-items">
      <mat-chip-list #kwchipList aria-label="Keyword selection" [disabled]="!isInputIDEmpty">
        <mat-chip *ngFor="let inputKeyword of inputKeywords" [selectable]="selectable" [removable]="true"
          (removed)="removeKeyword(inputKeyword)">
          {{inputKeyword}}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input 
          placeholder="KEWWORDS"
          #keyWordInput
          [formControl]="keyWordCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="kwchipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="endInput($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let keyWord of filteredKeyWords | async" [value]="keyWord">
          {{keyWord}}
        </mat-option>
      </mat-autocomplete>
      <div class="keyword-tips">
        <div class="keyword-tip-item" *ngFor="let keywordTip of keyWordTips" (click)="keyword_tip_click(keywordTip)">
          {{keywordTip}}</div>
      </div>
    </mat-form-field>

    <div class="oper-btn">
      <button mat-button class="filter-item" (click)="onCancel()">Cancel</button>
      <button mat-button class="filter-item" [ngClass]="{'disable-btn': isNothingInput}" [disabled]="isNothingInput"
        (click)="onApply()">Apply</button>
    </div>
  </div>
</div>
