<div class="panel-detail">
  <div class="panel-detail-header">
      <div class="rca-title">CVBFTVIEW-2875</div>
      <div class="rca-panel-btns">
        <i class="material-icons operation-icon" (click)="triggerPanelPostion()">swap_horiz</i>
        <i class="material-icons operation-icon" (click)="tiggerPanelStatus()">close</i>
      </div>
  </div>
  <div class="result-item-deatil">
    Because MatDialog instantiates components at run-time, the Angular compiler needs extra information to create the necessary ComponentFactory for your dialog content component.
  </div>
</div>