.home-filter-page{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    justify-content: center;
    align-content: center;
    grid-column-gap: 30px;
}

.filter-item{
    margin: 0px;
}

.btn-expend{
    height: 45px;
    justify-self: end;
    padding: 5px;
    color:gray;
    background: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-collapse{
    height: 45px;
    justify-self: end;
    padding: 5px;
    color:white;
    background:  gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apply-btn{
    justify-self: start;
    align-self: center;
}

.detail-filter{
    height: 210px;
    width: 100%;
    padding: 15px;
    position: relative;
    top: -25px;
    border: 1px solid gray;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    justify-content: center;
    align-content: center;
    z-index: 1;
    grid-column-gap: 40px;
}

.whole-line-item{
    grid-column-start: 1;
    grid-column-end: 4;
}

.keyword-items{
    position: relative;
}

.keyword-tips{
    position: absolute;
    bottom: -50px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.keyword-tip-item{
    cursor: pointer;
    color: rgb(0, 119, 255);
    padding-right: 10px;
    font-size: smaller;
}

.oper-btn{
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: center;
}

.disable-btn{
    cursor: not-allowed;
    color: gainsboro;
}

.highlight{
  color:#2492FF;
}
