<div class="home-filter-page">
  <mat-form-field class="filter-item">
    <input matInput placeholder="ID" [(ngModel)]="inputID">
  </mat-form-field>

  <mat-form-field class="filter-item">
    <mat-label>IMPACTED PRODUCT</mat-label>
    <mat-select [(value)]="selectedProductID">
      <mat-option *ngFor="let impactedProduct of impactedProducts" [value]="impactedProduct.ID">
        {{impactedProduct.ProductName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-item">
    <mat-label>FIX VERSIONS</mat-label>
    <mat-select [(value)]="selectedVersionID">
      <mat-option *ngFor="let fixVersion of fixVersionList" [value]="fixVersion.ID">{{fixVersion.Version}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-item">
    <mat-label>COMPONENTS</mat-label>
    <mat-select [(value)]="selectedComponentID">
      <mat-option *ngFor="let component of componentList" [value]="component.ID">{{component.ComponentName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button class="filter-item apply-btn" [ngClass]="{'disable-btn': isNothingInput || isDetailFilterPanelOpen, 'highlight': !isNothingInput && !isDetailFilterPanelOpen}" [disabled]="isNothingInput || isDetailFilterPanelOpen"
    (click)="onApply()">Apply</button>
  <button mat-button class="filter-item"
    [ngClass]="{'btn-expend': !isDetailFilterPanelOpen, 'btn-collapse': isDetailFilterPanelOpen}"
    (click)="triggerDetailFilterPanel()">
    <i class="material-icons">filter_list</i>
    More...
    <i class="material-icons" *ngIf="!isDetailFilterPanelOpen">keyboard_arrow_down</i>
    <i class="material-icons" *ngIf="isDetailFilterPanelOpen">keyboard_arrow_up</i>
  </button>
</div>

<div class="detail-filter" *ngIf="isDetailFilterPanelOpen">
  <!-- <mat-form-field class="filter-item">
    <input matInput placeholder="SUBMITTER" [(ngModel)]="inputSubmitter">
  </mat-form-field> -->

  <mat-form-field class="filter-item">
    <input matInput placeholder="ROOT CAUSE CR" [(ngModel)]="inputRootCauseCR">
  </mat-form-field>

  <mat-form-field class="filter-item">
    <mat-label>READOUT LEVELS</mat-label>
    <mat-select [(value)]="selectedreadoutLevelID" >
      <mat-option *ngFor="let readoutLevel of readoutLevelList" [value]="readoutLevel.ID">{{readoutLevel.ReadoutLevel}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-item whole-line-item keyword-items">
    <mat-chip-list #kwchipList aria-label="Keyword selection">
      <mat-chip *ngFor="let inputKeyword of inputKeywords" [selectable]="selectable" [removable]="true"
        (removed)="removeKeyword(inputKeyword)">
        {{inputKeyword}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input placeholder="KEWWORDS" [matChipInputFor]="kwchipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addKeyword($event)">
    </mat-chip-list>
    <div class="keyword-tips">
      <div class="keyword-tip-item" *ngFor="let keywordTip of Keyword_tips" (click)="keyword_tip_click(keywordTip)">
        {{keywordTip}}</div>
    </div>
  </mat-form-field>

  <div class="oper-btn">
    <button mat-button class="filter-item" (click)="onCancel()">Cancel</button>
    <button mat-button class="filter-item" [ngClass]="{'disable-btn': isNothingInput}" [disabled]="isNothingInput"
      (click)="onApply()">Apply</button>
  </div>
</div>
