.result-item{
    width: 100%;
    margin: 20px 10px;
    min-height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: space-between;
    align-content: space-between;
}

.material-icons{
    margin-left: 5px;
    margin-right: 5px;
}

.rca-product-version{
    display: flex;
    align-items: center;
}

.rca-version{
    font-size: smaller;
    color: gray;
    margin-left: 5px;
}

.rca-feature{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(114,114,114);
}

.rca-desc{
    grid-column: 1/3;
    align-self: center;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px
}

.rca-desc:hover{
    color: cornflowerblue;
}

.rca-keywords{
    display: flex;
    align-items: center;
    color: rgb(27,105,168);
}

.key-icon{
    color: orange;
}

.rca-others{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-btn{
    color: rgb(248,81,85);
}

.edit-btn{
    color: rgb(48,113,194);
}

.link-item{
    cursor: pointer;
}

.rca-id{
    color: rgb(114,114,114);
}